.container {
    max-width: 400px;
}

.form-group label {
    font-size: 14px;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 14px;
}

.btn-primary {
    padding: 0.375rem 0.75rem;
    font-size: 14px;
}

.alert-danger {
    font-size: 14px;
    padding: 0.375rem 0.75rem;
}

.result h3 {
    font-size: 16px;
}

.password-icon {
    cursor: pointer;
    position: absolute;
    right: 1px;
    margin-top: 2.5px;

}